.menu {
    width: 100%;
    background: #232323;
    text-align: center;
    padding-top: 22px;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    font-weight: 400;

    svg {
        width: 10rem;
        display: block;
        margin: 0 auto;

        path, polygon, rect {
            fill: #fff;
        }
    }

    &__items {
        margin: 0 auto;
        display: inline-block;
    }

    &__item {
        display: inline-block;
        padding: 1.125rem 0.5rem;
    }
}
